@font-face {
    font-family: 'neutralface-bold';
    src: url('neutralface-bold-webfont.woff2') format('woff2');
  }

@font-face {
    font-family: 'neutralface';
    src: url('fonts/neutralface-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'mazius';
    src: url('fonts/MAZIUSREVIEW20.09-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'avenir';
    src: url('fonts/Avenir Next LT Pro Regular.woff2') format('woff2');
}

.container {

}

nav{
    color: white;
    font-family: 'neutralface', sans-serif;
    position: sticky;
    list-style-type: none;
    width: 70%;
    padding: 30px;
    background-color: pink;
    margin: auto;
}

nav ul{
    list-style-type: none;
    margin: 0;
    background-color: aqua;
    float: right;
}

nav li {
    display: inline;
    margin-left: 60px;
    align-items: center;
    background: lightblue;
}

nav a:hover {
    font-weight: bold;
}

body {
    background-color: #0E1010;
    color: white;
    font-family: 'avenir', sans-serif;
}

h1 {
    font-family: 'neutralface-bold', sans-serif;
}

h2 {
    font-family: 'mazius', sans-serif;
}
