/* FONTS */
@font-face {
    font-family: 'neutralface-bold';
    src: url('fonts/neutralface-bold-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'neutralface';
    src: url('fonts/neutralface-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'mazius';
    src: url('fonts/MAZIUSREVIEW20.09-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'mazius-italic';
    src: url('fonts/MAZIUSREVIEW20.09-Italic.woff2') format('woff2');
}

@font-face {
    font-family: 'mazius-extraitalic';
    src: url('fonts/MAZIUSREVIEW20.09-Extraitalic.woff2') format('woff2');
}

@font-face {
    font-family: 'avenir';
    src: url('fonts/Avenir Next LT Pro Regular.woff2') format('woff2');
}

:root {
    --color1: #0E1010;
    --color2: #272D2B;
    --color3: #2F3634;
    --color4: #4F5B58;
    --color5: #859591;
    /* might need to adjust */
    --fz-xxs: 12px;
    --fz-xs: 13px;
    --fz-sm: 14px;
    --fz-md: 16px;
    --fz-lg: 18px;
    --fz-xl: 20px;
    --fz-xxl: 22px;
    --fz-heading: 32px;
    --border-radius: 50px;
    --border: 1px solid;
    --nav-height: 91px;
    --nav-scroll-height: 70px;
    --tab-height: 42px;
    --tab-width: 120px;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none !important;
    color: white;
}


body {
    background-color: var(--color1);
    color: white;
    margin: 0;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    font-family: 'avenir', sans-serif;
    line-height: 1.3;
}

header {
    display: flex;
    justify-content: center;
    height: var(--nav-height);
    width: 100%;
    padding: 0 40px;
    border-bottom: var(--border) var(--color4);
}

nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-self: center;
}

.nav-logo {
    display: flex;
    align-self: center;
}

.nav-bar {
    font-family: 'neutralface', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
}

.nav-bar ol {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

.nav-bar ol li {
    display: flex;
    align-self: center;
    flex-direction: row;
    margin: 0 0 0 60px;
    color: white;
    font-size: var(--fz-l);
}

.solid-button {
    background-color: var(--color3);
    padding: 4px 25px;
    color: white;
    border-radius: var(--border-radius);
}
